<%provide(:title, 'about')%>
<h1>StaticPages#about</h1>
<p>About Us!</p>
<p> We're a twieddlinek family. beogje David ablaldfig iehg iehiehie akh eiheih e
gheiheoih  ieh eh,l eih ehel hei he hel hie he.</p>